/* fonts families */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

@import "tailwindcss";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

a {
    cursor: pointer !important;
}

body {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: #FFFFFF;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    cursor: grabbing !important;
}

::-webkit-scrollbar-thumb {
    background-color: #888888b3;
    border-radius: 8px;
}

body.custom1::-webkit-scrollbar-track {
    background: #000000;
}

body.custom2::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.cusxscroll::-webkit-scrollbar {
    height: 6px;
    cursor: grabbing !important;
}

@theme {
    /* fonts */
    --font-londrinasolid: "Londrina Solid", sans-serif;

    /* colors */
    --color-cus-white-transparent: rgba(255, 255, 255, 0.4);
    --color-cus-black-transparent: rgba(0, 0, 0, 0.4);
    --color-cus-black-low: #1C1C21;
    --color-cus-dark-blue: #5C1CB2;
    --color-cus-dark-purple: #7118B4;
    --color-cus-dark-pink: #A90FB9;
    --color-cus-light-pink-low: #FF00C1;
    --color-cus-light-pink-high: #FE15AD;
    --color-cus-light-orange: #FA4D7B;
    --color-cus-light-yellow-low: #F4AC24;
    --color-cus-light-yellow-high: #F4A52A;
}

@layer utilities {

    .cus-btn-con {
        @apply flex flex-col transition-all duration-300 ease-in-out hover:scale-105 relative;
    }

    .cus-btn-front {
        @apply ml-0 flex flex-row justify-center items-center text-xl font-semibold rounded-md px-4 py-0.5 z-20 cursor-pointer;
    }

    .cus-btn-back {
        @apply ml-1 -mt-9 rounded-md z-10 cursor-pointer;
    }

    .cus-btn-set {
        @apply relative rounded-3xl text-center bg-transparent border-2 border-black hover:border-cus-black-low px-8 py-1.5 transition-all duration-1000 ease-linear overflow-hidden cursor-pointer z-20;
    }

    .cus-btn-set::after {
        @apply absolute content-[''] h-full w-full bg-cus-light-yellow-high left-0 -bottom-full rounded-full transition-all ease-in-out z-[-1];
    }

    .cus-btn-set:hover::after {
        @apply bottom-0 rounded-none;
    }

    .secondary-btn {
        @apply flex gap-5 items-center justify-center px-4 py-3.5 cursor-pointer text-lg font-bold rounded-md mx-auto tracking-wide;
    }

    .secondary-btn-ping {
        @apply animate-ping absolute inline-flex h-full w-full bg-cus-light-orange rounded-full opacity-75;
    }

    .btn-ping_dot {
        @apply relative inline-flex rounded-full h-4 w-4 bg-cus-light-orange;
    }

}

.bg-blur {
    inset: 0;
    background-color: #ffffff33;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    transition: 250ms;
    transform-style: preserve-3d;
}

.linear-gradient {
    background: linear-gradient(180deg, var(--color-cus-dark-blue) 0%, var(--color-cus-dark-purple) 9%, var(--color-cus-dark-pink) 28%, var(--color-cus-light-pink-low) 55%, var(--color-cus-light-pink-high) 62%, var(--color-cus-light-orange) 77%, var(--color-cus-light-yellow-low) 98%, var(--color-cus-light-yellow-high) 100%);
}

.clip-custom {
    clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.cus-text-style {
    -webkit-text-stroke: 1px #FFFFFF;
    background: transparent;
    -webkit-background-clip: text;
}

.cus-text-style-black {
    -webkit-text-stroke: 1px #000000;
}

.cus-text-style-dark-purple {
    -webkit-text-stroke: 1px var(--color-cus-dark-purple);
}

.cus-text-style-light-yellow-high {
    -webkit-text-stroke: 1px var(--color-cus-light-yellow-high);
}

.swiper-pagination-bullet {
    background-color: var(--color-cus-white-transparent) !important;
}

.swiper-pagination-bullet-active {
    background-color: #000000 !important;
}

.animate-scale-7s {
    animation: scale 7s infinite;
}

.animate-scale-10s {
    animation: scale 10s infinite;
}

.animate-scale-14s {
    animation: scale 14s infinite;
}

.animate-translate-1 {
    animation: translate1 7s infinite;
}

.animate-translate-2 {
    animation: translate2 10s infinite;
}

.animate-translate-3 {
    animation: translate3 14s infinite;
}

.animate-translate-4 {
    animation: translate4 7s infinite;
}

.animate-translate-5 {
    animation: translate5 14s infinite;
}

/* key frames */

@keyframes scale {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes translate1 {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    25% {
        transform: translateX(120px) translateY(0px);
    }

    50% {
        transform: translateX(240px) translateY(60px);
    }

    75% {
        transform: translateX(120px) translateY(0px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes translate2 {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    25% {
        transform: translateX(-120px) translateY(0px);
    }

    50% {
        transform: translateX(-240px) translateY(60px);
    }

    75% {
        transform: translateX(-120px) translateY(0px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes translate3 {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    25% {
        transform: translateX(120px) translateY(0px);
    }

    50% {
        transform: translateX(240px) translateY(-60px);
    }

    75% {
        transform: translateX(120px) translateY(0px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes translate4 {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    25% {
        transform: translateX(-120px) translateY(0px);
    }

    50% {
        transform: translateX(-240px) translateY(-60px);
    }

    75% {
        transform: translateX(-120px) translateY(0px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes translate5 {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    15% {
        transform: translateX(0px) translateY(-60px);
    }

    30% {
        transform: translateX(-180px) translateY(0px);
    }

    50% {
        transform: translateX(0px) translateY(0px);
    }

    70% {
        transform: translateX(0px) translateY(60px);
    }

    85% {
        transform: translateX(180px) translateY(0px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}